
body{
	margin: 10px;
	background: black;
	color:white;
	text-align: center;
	padding: 0;
}

.btn{
	background-color:black;
	color:white;
	font-weight: bold;
	font-size: 20px;
	margin-top: 25px;
/*	margin-right: 15px
*/
}


.green:hover{
	color:lime;
}

.red:hover{
	color:red;
}

.showHeader{
	font-family: 'Monoton', cursive;
	font-size: 50px;
	text-decoration: underline;

}

.container{
	align-content: left;

}

.secondaryHeader{
	text-align: left;
}

.mainheader{
}


.show{
	background: lime;
}

h2,h3{
	color: white;
	padding: 5px;
	text-decoration: underline double white;
}

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.stylish-input-group .input-group-addon{
    background: lime !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:lime;
	border-width: 2px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.searchBar{
	margin-top: 20px;
}
